<?php
// Display the site environment.
require('../../../config.php');

// Local development environment.
if (strpos($CFG->wwwroot, 'http://localhost') === 0) {
    echo 'LOCAL ';
}

// Staging.
else if (strpos($CFG->wwwroot, 'http://staging.mymoodle.ac.uk') === 0) {
    echo 'STAGING';
}

// Production - Do not display ribbon, so simply do not return any content.
exit;