<?php
// Display the site environment.
require('../../../config.php');
if (strpos($CFG->wwwroot, 'http://www.mymoodle.ac.uk') === 0) {
    echo 'PROD';
} elseif (strpos($CFG->wwwroot, 'http://staging.mymoodle.ac.uk') === 0) {
    echo 'STAGING';
} else {
    echo 'LOCAL';
}